.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

/* Default: show desktop video */
.video-mobile {
  display: none;
}

.video-desktop {
  display: block;
}

/* For smaller screens: show mobile video */
@media (max-width: 768px) {
  .video-desktop {
    display: none;
  }

  .video-mobile {
    display: block;
  }
}
